html, body{
    margin: 0;
    padding: 0;
    background-color: #13293D;
}

iframe{
    width: 100%;
    height: 100vh;
}

.loading{
    display: flex;
}

h1{
    margin: 100% auto;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #E8F1F2;
}